include header.pug

main.allemployees
  .container
    .row


      each employee in employees
        


      //-  .card
      //-    .content
      //-      img(src='/static/images/employee.jpg' alt='person')
      //-      h3 employee
      //-      .buttons
      //-        a(href='/employeedetail') MORE
      //-        a.delete(href='#!') DELETE
        

include footer.pug