include header.pug

main.allemployees
  .container
    .row
      each employee in employees
        .card
          .content
            img(src=`/static/images/${ employee.em_img }` alt='person')
            h3= employee.em_name
            .buttons
              a(href=`/allemployees/${ employee.id }`) MORE
              a.delete(href=`/${ employee.id }/delete`) DELETE

include footer.pug