include header.pug

main.allemployees
  .container
    .row
      .card
        .content
          img(src='/static/images/employee.jpg' alt='person')
          h3 Okilkhon Muminov
          .buttons
            a(href='/employeedetail') MORE
            a.delete(href='#!') DELETE
      .card
        .content
          img(src='/static/images/employee.jpg' alt='person')
          h3 Okilkhon Muminov
          .buttons
            a(href='/employeedetail') MORE
            a.delete(href='#!') DELETE
      .card
        .content
          img(src='/static/images/employee.jpg' alt='person')
          h3 Okilkhon Muminov
          .buttons
            a(href='/employeedetail') MORE
            a.delete(href='#!') DELETE

include footer.pug