include header.pug

main.employeedetail
  .container
    img(src='/static/images/employee.jpg' alt='person')
    ul.list
      li Name:
      li Surname:
      li Address:
      li Date of birth:
      li Job:
      li Brief story:
    ul.list-content
      li Okilkhon
      li Muminov
      li Nazarbek
      li 01.01.2020
      li CEO
      li I was born on the 5rd of May 1987 in Kazan. Like many other children when I was a child I went to a kindergarten. At the age of 7 I went to school. I was very proud when I became a pupil. But very soon I realized that I had to work hard if I wanted my parents to be pleased with me. I am an outgoing person. I like to go to discos, to parties with my friends. Certainly we talk a lot about life, our problems.

include footer.pug