footer
  .container
    ul.site-map
      li
        a(href='/') Main page
      li
        a(href='/allemployees') All employees 
      li
        a(href='/addemployee') Add employee
      li
        a(href='/contact') Contact us
    .info
      h3 00010402
      p This web application was created to fulfill Web Technology module&rsquo;s requirements and does not represent an actual company or service
    .socials
      a(target='_blank' href='https://instagram.com/')
        img(src='/static/images/instagram.png' alt='')
      a(target='_blank' href='https://telegram.org/')
        img(src='/static/images/telegram.png' alt='')
      a(target='_blank' href='https://www.facebook.com/')
        img(src='/static/images/facebook.png' alt='')

