include header.pug

main.index
  .container
    img(src='/static/images/logo.png' alt='logo')
    .buttons
      a(href='/employees') All employees
      a(href='/addemployee') Add employee

include footer.pug

